.App {
  font-family: sans-serif;
  text-align: center;
}

.my-page {
  margin: 2rem auto;
  padding: 1rem;
  width: 70%;
  background-color: #ccc;
}

.dark {
  background-color: #000;
  color: #fff;
}
